@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500&family=Onest&family=Wix+Madefor+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charm:wght@400;700&family=Courgette&family=Pacifico&family=Playball&family=Rozha+One&family=Sen:wght@400..800&display=swap');

/* Asterix wildcard selector to override default styles added by the browser */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Onest, sans-serif;
    font-weight: 300;
    color: black;
}

/* navbar and logo in header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    height: 100px;
    width: 10%;
    cursor: pointer;
    border-color:#FAD02C;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    background-color: #FAD02C;
}

#nav-links {
    font-size: 110%;
    padding-top: 1.5rem;
    letter-spacing: 4px;
    list-style: none;
    text-decoration: none;
}

#nav-links li{
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    font-weight: bold;
} 

#nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
}

#nav-links a:hover {
    color:#0000FF;
    border-block:0.5rem solid white;
    writing-mode: horizontal-tb;
}

.active {
    border-block:0.5rem solid white;
}

/* hero section and text overlay */

#hero-section {
    display: flex;
    flex-direction: row;
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image img {
    height: 600px;
    background-size: cover;
    display:block;
   
}

#hero-text {
    display: flex;
    width: 100%;
    height: 130px;
    font-size: 40px;
    font-family:'Barriecito', system-ui;
    color: #F8FAF9;
    letter-spacing: 6px;
    padding-left: 7rem;
    padding-top: 2rem;
    
    background-color: #55d14281;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
   
}