@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Inter:wght@400;500&family=Onest&family=Wix+Madefor+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Charm:wght@400;700&family=Courgette&family=Pacifico&family=Playball&family=Rozha+One&family=Sen:wght@400..800&display=swap');

/* Asterix wildcard selector to override default styles added by the browser */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, Onest, sans-serif;
    font-weight: 300;
    color: black;
}

/* navbar and logo in header section */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: flex;
    height: 100px;
    width: 100%;
    max-width: 115px;
    cursor: pointer;
    border-color:#F8FAF9;
    border-radius: 0.8rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    margin-right: auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    background-color: #FAD02C;
}

#nav-links {
    font-size: 110%;
    padding-top: 1.5rem;
    letter-spacing: 4px;
    list-style: none;
    text-decoration: none;
}

#nav-links li{
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    font-weight: bold;
} 

#nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
}

#nav-links a:hover {
    color:#0000FF;
    border-block:0.5rem solid #F8FAF9;
    writing-mode: horizontal-tb;
}

.active {
    border-block:0.5rem solid white;
}

/* hero section and text overlay */

#hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
}

#hero-image {
    position: relative;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    margin-top: 0.5rem;
    background: url(../assets/img/hero-image.JPG) no-repeat center center;
    background-size: cover;
    display: flex;
}

#hero-text {
    font-size: 7vmin;
    font-family:'Barriecito', system-ui;
    color: #F8FAF9;
    letter-spacing: 6px;
    
    width: 100%;
    height: 130px;
        
    background-color: #55d14281;
    background-size: cover;
    bottom: 0.3rem;
    left: 0;
    
    position: absolute;
    display: flex;
    justify-content: center;
}

/* welcome section and overview */

#welcome {
    width: 80%;
    margin: 50px auto;
}
.title {
    text-align: center;
    font-size: 7vmin;
    font-family: 'charm' sans-serif;
    padding-bottom: 5rem;
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .text-left {
    width: 50%;
    height: 400px;
}
.row .store-right {
    width: 50%;
    padding-left: 6rem;
}
.store-right img{
   height: 400px;
   width: 100%;
   max-width: 400px;
}
.row .store-right .text-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
hr {
    border: 2px solid #B9B7BD;
    width: 100%;
    max-width: 500px;
    display: flex;
}
.text-left h2 {
    padding-bottom: 1rem;
}
.text-left p {
    padding-top: 2rem;
    line-height: 1.5;
    font-size: 18px;
    text-align: justify;
}
.button {
    background-color: #06141B;
    color: #F8FAF9;
    border: 3px solid #F8FAF9;
    border-radius: 4px;
    padding: 25px 32px 20px 40px;
    margin-top: 3em;
    margin-left: 7rem;
    width: 100%;
    max-width: 220px;
    font-size: 100%;
    letter-spacing: 4px;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    display: flex;
}
.button:hover {
    background-color: #FAD02C;
    color: #F8FAF9;
    font-weight: bold;
    border: 3px #06141B;
    border-radius: 4px;
    text-decoration: none;
}

/* Deals section and offers */

#deals-section {
    width: 95%;
    margin: 100px 10px;
}
#deals-section h1 {
    text-align: center;
    font-size: 6vmin;
    font-style: "charm" sans-serif;
    padding-bottom: 2rem;
}
#deals-section h2 {
    text-align: center;
    font-size: 5vmin; 
}
.deals {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 50px 15px;
}
.box {
    border: 5px solid #cdcdcd;
    height: 500px;
    width: 23%;
    justify-content: space-evenly;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.box img {
    height: 310px;
    width: 100%;
    max-width: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 2rem;
    display: flex;
}
.box a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: blueviolet;
}

/* Deals section and offers */

#about-boba {
    width: 80%;
    margin: 50px auto;
}
.heading {
    text-align: center;
    font-size: 7vmin;
    font-family: 'charm' sans-serif;
    padding: 2rem 0 4rem 0;
}
.boba {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.boba .text-boba {
    width: 50%;
    padding-left: 6rem;
    height: 4o0px;
        
}
.boba img {
    width: 50%;
    max-width: 450px;
    height: 400px;
    position: relative;
}

.boba .boba-img .text-boba {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-boba h2 {
    padding-bottom: 0.5rem;
}
.text-boba p {
    padding-top: 2rem;
    line-height: 1.1;
    letter-spacing: 0;
    font-size: 18px;
    text-align: justify;
}

/* Footer Section - contact info */

footer {
    width: 100%;
    max-width: 1400px;
    background-color: #FAD02C;
}
footer a img {
    height: 19.7vh;
    width: 100%;
    max-width: 130px;
    display: flex;
    justify-content: center;
    margin-left: 35rem;
    border: #F8FAF9;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}